.header {
    background-color: #8c1097;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.header img{
    height: 110px;
    width: 400px;
    object-fit: cover;
    margin-bottom: 17px;
    transition: 0.2s;
}

.header img:hover{
    height: 160px;
    width: 450px;
}

.header ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.header ol a {
    font-size: 25px;
    width: 500px;
    padding: 10px;
    color: rgb(255, 251, 0);
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    background-color: none;
    border: 8px;
    border-color: rgb(252, 255, 82);
    transition: 0.2s;
}

.header ol a:hover {
    background-color: #ffe6009d;
    color: black;
}